
/* ============================================================== IMPORTS ============================================================== */
@import './toolkit'

/* ============================================================== OVERALLS ============================================================== */
* 
    margin: 0
    padding: 0
    box-sizing: border-box

    text-decoration: none
    list-style: none
    outline: none
    cursor: default
    transition: $transition-basic

    font-family: 'Poppins', sans-serif
    font-weight: 300
    line-height: 1.7
html
    &
        scroll-behavior: smooth
        // scrollbar-removal
        -ms-overflow-style: none
        scrollbar-width: none
    &::-webkit-scrollbar
        display: none
body
    &
        background-color: $clr-bg-basic
        
@each $heading in $headings 
    #{$heading}
        font-weight: 500
        color: $clr-whitish
h1
    font-size: 2.5rem
section
    margin-top: 8rem
section > h2, 
section > h5 
    text-align: center
    color: $clr-whitish--glassy
section > h2 
    color: $clr-primary
    margin-bottom: 3rem
img
    display: block
    width: 100%
    object-fit: cover
a
    & 
        color: $clr-primary
        cursor: pointer
    +hocus 
        color: $clr-whitish
    *
        cursor: pointer
/* ============================================================== SPECIFICS ============================================================== */

/* =============================== Distinct =============================== */
.tank 
    +tank_responsive_width
    margin: 0 auto
.txt-light 
    color: $clr-whitish--glassy
.btn
    &
        &
            width: max-content
            display: inline-block
            color: $clr-primary
            padding: .75rem 1.2rem
            border-radius: .4rem
            cursor: pointer
            border: 1px solid $clr-primary
        +hocus
            background-color: $clr-whitish
            color: $clr-bg-basic
            border-color: transparent
    &-primary
        background-color: $clr-primary
        color: $clr-bg-basic
.cta-btns
    margin-top: 2.5rem
    display: flex
    gap: 2.3rem
    justify-content: center
.scroll-down-btn
    position: absolute
    right: -2.3rem
    bottom: 5rem
    transform: rotate(90deg)
    font-weight: 300
    font-size: .9rem
.photo-block
    width: 22rem
    height: 30rem
    position: absolute
    +nonStaticHcentering(11rem)
    overflow: hidden
    margin-top: 4rem
    padding: 1.5rem
    padding-top: 5rem
    border-radius: 12rem 12rem 0 0
    background: $gradient-primary
    
/* =============================== Relative =============================== */
.header
    &
        height: 100vh
        padding-top: 7rem
        overflow: hidden
    &__tank
        text-align: center
        height: 100%
        position: relative
    &__socials
        &
            &
                display: flex
                flex-direction: column
                align-items: center
                gap: .8rem
                position: absolute
                left: 0
                bottom: 3rem
            &::after
                content: ''
                width: 1px
                height: 2rem
                background-color: $clr-primary
        svg
            +hocusClrSwitch($clr-primary, $clr-whitish)
.main-nav
    &
        background-color: $clr-blackish--glassy
        width: max-content
        display: block
        padding: 0.7rem 1.7rem
        z-index: 2
        position: fixed
        +nonStaticHcentering(10.5rem)
        bottom: 2rem
        display: flex
        gap: 0.8rem
        border-radius: 3rem
        backdrop-filter: blur(15px)
    &__item
        &
            background-color: transparent
            padding: .9rem
            display: flex
            border-radius: 50%
            color: $clr-whitish--glassy
            font-size: 1.1rem
        +hocus
            background-color: $clr-blackish--glassy
        &--active
            background-color: $clr-whitish--glassier
            color: $clr-whitish

/* ============== Sections ============== */
.about-section
    &
    &__contents-wrapper
        display: grid
        grid-template-columns: 35% 50%
        gap: 15%
    &__img-outer-wrapper
        width: 100%
        aspect-ratio: 1/1
        border-radius: 2rem
        background: linear-gradient(45deg, transparent, $clr-primary, transparent)
        display: grid
        place-items: center
    &__img-inner-wrapper
        &
            border-radius: 2rem
            overflow: hidden
            transform: rotate(0deg)
        +hocus 
            transform: rotate(10deg)
    &__text-content
    .text-content
        &
        &__cards
            display: grid
            grid-template-columns: repeat(3, 1fr)
            gap: 1.5rem
        &__about-card
        .about-card
            &
                &
                    background-color: $clr-bg-extra
                    border: 1px solid transparent
                    border-radius: 1rem
                    padding: 2rem
                    text-align: center
                +hocus
                    background-color: transparent
                    border-color: $clr-primary-glassy
            &__heading
                color: $clr-whitish
                font-size: .95rem
            &__desc
                color: $clr-whitish
                font-size: .7rem
                color: $clr-whitish--glassy
            &__icon
                color: $clr-primary
                font-size: 1.4rem
                margin-bottom: 1rem
        &__about-desc
            margin: 2rem 0px 2.6rem
            color: $clr-whitish--glassy
.xp-section
    &__contents-wrapper
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 2rem
    .xp-card
        &
            &
                background-color: $clr-bg-extra
                padding: 2.4rem 5rem
                border-radius: 2rem
                border: 1px solid transparent
            +hocus
                background: transparent
                border-color: $clr-primary-glassy
            &__heading
                text-align: center
                margin-bottom: 2rem
                color: $clr-primary
            &__contents
                display: grid
                grid-template-columns: 1fr 1fr
                row-gap: 2rem
            &__xp-item
            .xp-item
                &
                    display: flex
                    gap: 1rem
                &__icon
                    margin-top: 6px
                    color: $clr-primary
.services-section
    &__inner-wrapper
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 3rem
    .service-card
        &
            &
                background-color: $clr-bg-extra
                border-radius: 0 0 2rem 2rem
                border: 1px solid $clr-primary
                height: fit-content
            +hocus
                background-color: transparent
                border-color: $clr-primary-glassy
        &__heading-wrapper
            background-color: $clr-primary
            padding: 2rem
            border-radius: 0 0 2rem 2rem
            box-shadow: $shadow-dark-slight
        &__heading
            color: $clr-bg-basic
            font-size: 1rem
            text-align: center
    .service-desc-list
        padding: 2rem
    .service-desc-item
        &
            display: flex
            gap: 1rem
            margin-bottom: .8rem
            color: $clr-whitish
        &__icon
            color: $clr-primary
            margin-top: 2px
        &__desc
            font-size: .9rem
.portfolio-section
    .content-wrapper
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 2.5rem
    .content-item
        &
            &
                background-color: $clr-bg-extra
                padding: 1.3rem
                border: 1px solid transparent
                border-radius: 2rem
                transition: $transition-basic
            +hocus
                border-color: $clr-primary-glassy
                background-color: transparent
        &__img-wrapper
            border-radius: 1.5rem
            overflow: hidden
        &__heading
            margin: 1.2rem 0 2rem
        &__cta-wrapper
            display: flex
            gap: 1rem
            margin-bottom: 1rem
.testimonials-section
    .contents-wrapper
        width: 40%
    .review
        &
            background-color: $clr-bg-extra
            text-align: center
            padding: 2rem
            border-radius: 2rem
            user-select: none
        &__author-pic-wrapper
            width: 4rem
            aspect-ratio: 1/1
            overflow: hidden
            border-radius: 50%
            border-radius: 50%
            margin: 0 auto 1rem
            border: .4rem solid $clr-primary-glassy
        &__the-review
            color: $clr-whitish--glassy
            font-weight: 300
            display: block
            width: 80%
            margin: .8rem auto 0

/* ============================================================== RESPONSIVENESS ============================================================== */

/* =============================== Tablets =============================== */
+media($bp-tablet)
    /* ============== Overalls ============== */
    header
        height: 68vh
    /* ============== Specifics ============== */
    /* ======= Distinct ======= */

    /* ======= Relative ======= */
    .about-section
        &__contents-wrapper
            grid-template-columns: 1fr
            gap: 0
        &__img-outer-wrapper
            width: 50%
            margin: 2rem auto 4rem
        .text-content
            &__about-desc
                margin: 1rem 0 1.5rem
    .xp-section
        &
        &__contents-wrapper
            grid-template-columns: 1fr
        .xp-card
            &
                width: 80%
                padding: 2rem
                margin: 0 auto
            &__contents
                padding: 1rem
    .services-section
        &__inner-wrapper
            grid-template-columns: 1fr 1fr
            gap: 2rem
        .service-card
            height: auto
    .portfolio-section
        .content-wrapper
            grid-template-columns: 1fr 1fr
            gap: 1.2rem
    .testimonials-section
        .contents-wrapper
            60%
/* =============================== Mobile =============================== */
+media($bp-mobile)
    /* ============== Overalls ============== */
    section > h2
        margin-bottom: 2rem
    header
        height: 100vh
    /* ============== Specifics ============== */
    /* ======= Distinct ======= */
    .scroll-down-btn
        display: none
    /* ======= Relative ======= */
    .header
        &__socials
            display: none
    .about-section
        &__img-outer-wrapper
            width: 65%
            margin: 0 auto 3rem
        .text-content
            &
                text-align: center
            &__about-desc
                margin: 1.5rem 0
            &__cards
                grid-template-columns: 1fr 1fr
                gap: 1rem
    .xp-section
        &__contents-wrapper
            gap: 1rem
        .xp-card
            width: 100%
            padding: 2rem 1rem
    .services-section
        &__inner-wrapper
            grid-template-columns: 1fr
            gap: 1.5rem
    .portfolio-section
        .content-wrapper
            grid-template-columns: 1fr
            gap: 1rem
    .testimonials-section
        .contents-wrapper
            width: $w-sm-tank
        .review
            &__the-review
                width: $w-sm-tank
/* === */