
/* ============================================================== IMPORTS ============================================================== */
@import './toolkit'

/* ============================================================== OVERALLS ============================================================== */
* 
    margin: 0
    padding: 0
    box-sizing: border-box

    text-decoration: none
    list-style: none
    outline: none
    cursor: default
    transition: $transition-basic

    font-family: 'Poppins', sans-serif
    font-weight: 300
    line-height: 1.7
html
    &
        scroll-behavior: smooth
        // scrollbar-removal
        -ms-overflow-style: none
        scrollbar-width: none
    &::-webkit-scrollbar
        display: none
body
    &
        background-color: $clr-bg-basic
        
@each $heading in $headings 
    #{$heading}
        font-weight: 500
        color: $clr-whitish
h1
    font-size: 2.5rem
section 
    margin-top: 8rem
section > h2, 
section > h5 
    text-align: center
    color: $clr-whitish--glassy
section > h2 
    color: $clr-primary
    margin-bottom: 3rem
img
    display: block
    width: 100%
    object-fit: cover
a
    & 
        color: $clr-primary
    +hocus 
        color: $clr-whitish

/* ============================================================== SPECIFICS ============================================================== */

/* =============================== Distinct =============================== */
.tank 
    +tank_responsive_width
    margin: 0 auto
.txt-light 
    color: $clr-whitish--glassy
.btn
    &
        &
            width: max-content
            display: inline-block
            color: $clr-primary
            padding: .75rem 1.2rem
            border-radius: .4rem
            cursor: pointer
            border: 1px solid $clr-primary
        +hocus
            background-color: $clr-whitish
            color: $clr-bg-basic
            border-color: transparent
    &-primary
        background-color: $clr-primary
        color: $clr-bg-basic
.cta-btns
    margin-top: 2.5rem
    display: flex
    gap: 2.3rem
    justify-content: center
.scroll-down-btn
    position: absolute
    right: -2.3rem
    bottom: 5rem
    transform: rotate(90deg)
    font-weight: 300
    font-size: .9rem

/* =============================== Relative =============================== */
.header
    &
        height: 100vh
        padding-top: 7rem
        overflow: hidden
    &__tank
        text-align: center
        height: 100%
        position: relative
    &__socials
        &
            &
                display: flex
                flex-direction: column
                align-items: center
                gap: .8rem
                position: absolute
                left: 0
                bottom: 3rem
            &::after
                content: ''
                width: 1px
                height: 2rem
                background-color: $clr-primary
        svg
            +hocusClrSwitch($clr-primary, $clr-whitish)
.photo-block
    width: 22rem
    height: 30rem
    position: absolute
    left: calc(50% - 11rem)
    overflow: hidden
    margin-top: 4rem
    padding: 1.5rem
    padding-top: 5rem
    border-radius: 12rem 12rem 0 0
    background: $gradient-primary

/* ============================================================== RESPONSIVENESS ============================================================== */

/* =============================== Tablets =============================== */
+media($bp-tablet)
    /* ============== Overalls ============== */
    section
        margin-top: 6rem
    header
        height: 68vh
    /* ============== Specifics ============== */
    /* ======= Distinct ======= */
    .scroll-down-btn
        display: none
    /* ======= Relative ======= */
    .header
        &__socials
            display: none
/* =============================== Mobile =============================== */
+media($bp-tablet)
    /* ============== Overalls ============== */
    section > h2
        margin-bottom: 2rem
    header
        height: 100vh
    /* ============== Specifics ============== */
    /* ======= Distinct ======= */
    /* ======= Relative ======= */

