
/* ============================================================== IMPORTS ============================================================== */
@import './toolkit'

/* ============================================================== OVERALLS ============================================================== */
* 
    margin: 0
    padding: 0
    box-sizing: border-box

    text-decoration: none
    list-style: none
    outline: none
    transition: $transition-basic

    font-family: 'Poppins', 'Comfortaa', sans-serif
    font-weight: 300
    line-height: 1.7
*:not(path)
    cursor: default

html
    &
        scroll-behavior: smooth
        // scrollbar-removal
        -ms-overflow-style: none
        scrollbar-width: none
    &::-webkit-scrollbar
        display: none
body
    &
        min-width: 330px
        background-color: $clr-bg-basic
        background-size: 14px 14px
        background-image: repeating-linear-gradient(45deg, rgba(44, 44, 107, 0.32) 0, rgba(44, 44, 107, 0.32) 1.4000000000000001px, #1f1f38 0, #1f1f38 50%)
@each $heading in $headings 
    #{$heading}
        font-weight: 500
        color: $clr-whitish
h1
    font-size: 2.5rem
section
    margin-top: 4rem
    padding-top: 4rem
section > h2, 
section > h5 
    text-align: center
    color: $clr-whitish--glassy
section > h2 
    color: $clr-primary
    margin-bottom: 3rem
img
    display: block
    width: 100%
    object-fit: cover
a
    & 
        color: $clr-primary
        cursor: pointer
    +hocus 
        color: $clr-whitish
    *
        cursor: pointer
/* ============================================================== SPECIFICS ============================================================== */

/* =============================== Distinct =============================== */
.tank 
    +tank_responsive_width
    margin: 0 auto
.txt-light 
    color: $clr-whitish--glassy
.flex-col
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
.flex-center
    align-items: center
.btn
    &
        &
            width: max-content
            display: inline-block
            color: $clr-primary
            padding: .75rem 1.2rem
            border-radius: .4rem
            cursor: pointer
            border: 1px solid $clr-primary
        +hocus
            background-color: $clr-whitish
            color: $clr-bg-basic
            border-color: transparent
    &-primary
        background-color: $clr-primary
        color: $clr-bg-basic
.cta-btns
    margin-top: 2.5rem
    display: flex
    gap: 2rem
    justify-content: center
    flex-wrap: wrap

    // position: absolute
    // left: 50%
    // transform: translateX(-50%)
    // top: 60%
    margin-top: 0
.btn-with-icon
    &
        display: inline-flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
        gap: 10px
    svg
        width: 25px
        color: #33334e
.scroll-down-btn
    position: absolute
    right: -2.3rem
    bottom: 5rem
    transform: rotate(90deg)
    top: 57%
    height: fit-content
    font-weight: 300
    font-size: .9rem
.photo-block
    &
        width: 50%
        max-height: 910px
        // width: 22rem
        // height: 30rem
        // position: relative
        // // +nonStaticHcentering(11rem)
        // overflow: hidden
        // margin-top: 4rem
        // padding: 1.5rem
        // padding-top: 5rem
        // border-radius: 12rem 12rem 0 0
        // background: $gradient-primary
        // flex-grow: 1

        // background: transparent
        // padding: 0
        // overflow: visible
        // top: 10px
        // max-width: 420px
        // position: relative
        // display: flex
        // margin-top: 0
        // left: 0
        // width: 100%
        // height: fit-content
    &__photo
        position: relative
        z-index: 0
        width: 100%
        top: -50px
        right: -50px
        min-width: 500px
        max-width: 800px
        object-fit: contain
.progress-circle
    &
        display: block
        width: 100px
        height: 100px
        // margin: -100px
        transform-origin: left top
        transform: rotate(-90deg) scale(.3)
        position: absolute
        top: 90%
    &__the-bar
        &
            position: absolute
            top: 0
            left: 0
            fill: none
            stroke: url(#GradientColor)
            stroke-width: 30px
            stroke-dasharray: 450
            stroke-dashoffset: 200
            transition: $transition-basic
.logo-af
    color: $clr-whitish
    // margin-bottom: 3rem
    width: 10rem
    height: 10rem
.logo-af-link
    &
        cursor: pointer
        transform: scale(1)
    .logo-af
        +hocus
            color: $clr-primary
            transform: scale(1.05)
    &--footer .logo-af
        &
            margin-bottom: 2rem
            width: 4rem
            height: 4rem
            color: $clr-bg-basic
        +hocus
            color: $clr-whitish
            transform: scale(1.15)
.toggler
    &
        margin: 0 auto 2rem
        width: fit-content
        padding: .5rem
        border-radius: 50rem
        border: 2px solid $clr-primary
        display: flex
        gap: .5rem
        justify-content: center
    &__item
        &
            border-radius: 50rem
            border-color: transparent
            font-weight: 500
            font-size: 1.2rem
            width: 11rem
            display: flex
            justify-content: center
            background-color: transparent
            color: $clr-primary
            transform: scale(1)
            margin: 0
        &:hover
            color: $clr-bg-basic
            background-color: $clr-whitish
            transform: scale(1.05)
            transform-origin: left center
            margin: 0 .5rem
        &:active
            transform: scale(.95)
            background-color: $clr-whitish--glassy
            margin: 0
        &--active
            background-color: $clr-primary
            color: $clr-bg-basic
            cursor: default
            pointer-events: none
    
/* =============================== Relative =============================== */
.header
    &
        height: fit-content
        padding-top: 7rem
        overflow: hidden
    &__tank
        text-align: center
        height: 100%
        position: relative
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        gap: 0
        background-color: $clr-bg-extra
        border-radius: 4rem

        background-color: #007bb8
        background-image: radial-gradient(at top left, #2620DF, transparent), radial-gradient(at top right, #BC5B6A, transparent), radial-gradient(at bottom left, #1F0A4C, transparent)
    &__name-block
        gap: 0 !important
    &__tagline
        gap: 6px !important
    &__pitch
        &
            flex-grow: 1
            padding: 3rem
            text-align: start
            gap: 2rem
        .flex-col
            gap: 2rem
        h1
            font-size: 3rem
            line-height: 56px
        h5
            font-size: 1.5rem
        p
            font-size: 1.4rem
            color: $clr-whitish
    &__socials
        &
            &
                display: flex
                flex-direction: column
                align-items: center
                gap: 0.8rem
                position: absolute
                right: 4%
                top: 50%
                bottom: 3rem
                height: fit-content
                transform: translateY(-50%)
            &::before
                
                content: ''
                width: 1px
                height: 2rem
                background-color: $clr-primary
            &::after
                content: ''
                width: 1px
                height: 2rem
                background-color: $clr-primary
        &-item
            &
                &
                    &
                        position: relative
                        +hocusClrSwitch($clr-primary, $clr-whitish)
                        width: fit-content
                        height: fit-content
                    &::before
                        opacity: 0
                        position: absolute
                        top: -13%
                        left: -100%
                        text-align: left
                        padding: .5rem 1rem
                        background-color: $clr-blackish--glassy
                        border-radius: 5rem
                        transition: $transition-basic
                        width: max-content
                        height: fit-content
                &--tg::before
                    content: 'Мой ТГ'
                &--be::before
                    content: 'Мой биханс'
                &--gh::before
                    content: 'Мой гитхаб'
            &:hover::before
                    opacity: 1
                    left: 140%
            svg
                width: 2rem
                height: 2rem
.main-nav
    &
        background-color: $clr-blackish--glassy
        width: max-content
        display: block
        padding: 0.7rem 1.7rem
        z-index: 2
        position: fixed
        left: 50%
        transform: translateX(-50%)
        bottom: 2rem
        display: flex
        gap: .1rem
        border-radius: 3rem
        backdrop-filter: blur(15px)
    &__item
        &
            &
                &
                    background-color: transparent
                    position: relative
                    padding: .9rem
                    display: flex
                    border-radius: 50%
                    color: $clr-whitish--glassy
                    font-size: 1.1rem
                &--home::before
                    content: 'В начало'
                &--about::before
                    content: 'Обо мне'
                &--xp::before
                    content: 'Мой опыт'
                &--services::before
                    content: 'Мои услуги'
                &--portfolio::before
                    content: 'Портфолио'
                &--testimonials::before
                    content: 'Отзывы'
                &--contacts::before
                    content: 'Контакты'
            &::before
                opacity: 0
                position: absolute
                top: -3rem
                left: 50%
                transform: translateX(-50%)
                text-align: center
                padding: .5rem 1rem
                background-color: $clr-blackish--glassy
                border-radius: 5rem
                transition: $transition-basic
                width: max-content
                height: fit-content
        &:hover
            &
                background-color: $clr-blackish--glassy
            &::before
                opacity: 1
                top: -4rem
        &--active
            background-color: $clr-whitish--glassier
            color: $clr-whitish

/* ============== Sections ============== */
.about-section
    &
    &__contents-wrapper
        display: grid
        grid-template-columns: 35% 50%
        gap: 15%
    &__img-outer-wrapper
        width: 100%
        aspect-ratio: 1/1
        border-radius: 2rem
        background: linear-gradient(45deg, transparent, $clr-primary, transparent)
        display: grid
        place-items: center
    &__img-inner-wrapper
        &
            border-radius: 2rem
            overflow: hidden
            transform: rotate(0deg)
        +hocus 
            transform: rotate(10deg)
    &__text-content
    .text-content
        &
        &__cards
            display: grid
            grid-template-columns: repeat(3, 1fr)
            gap: 1.5rem
        &__about-card
        .about-card
            &
                &
                    background-color: $clr-bg-extra
                    border: 1px solid transparent
                    border-radius: 1rem
                    padding: 2rem
                    text-align: center
                +hocus
                    background-color: transparent
                    border-color: $clr-primary-glassy
            &__heading
                color: $clr-whitish
                font-size: .95rem
            &__desc
                color: $clr-whitish
                font-size: .7rem
                color: $clr-whitish--glassy
            &__icon
                color: $clr-primary
                font-size: 2.5rem
                margin-bottom: 1rem
        &__about-desc
            margin: 2rem 0px 2.6rem
            color: $clr-whitish--glassy
.xp-section
    &__contents-wrapper
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 2rem
    .xp-card
        &
            &
                background-color: $clr-bg-extra
                padding: 2.4rem 2rem
                border-radius: 2rem
                border: 1px solid transparent
            +hocus
                background: transparent
                border-color: $clr-primary-glassy
            &__heading
                text-align: center
                margin-bottom: 2rem
                color: $clr-primary
            &__contents
                display: grid
                grid-template-columns: 1fr 1fr
                row-gap: 2rem
            .xp-item
                &
                    &
                        display: flex
                        gap: 1rem
                        position: relative
                    // ux/ui
                    &--ps circle
                        stroke-dasharray: 470
                    &--ai circle
                        stroke-dasharray: 470
                    &--fig circle
                        stroke-dasharray: 470
                    &--ae circle
                        stroke-dasharray: 410
                    &--pp circle
                        stroke-dasharray: 330
                    // layout  
                    &--html circle
                        stroke-dasharray: 470
                    &--sass circle
                        stroke-dasharray: 470
                    &--bt circle
                        stroke-dasharray: 470
                    &--bem circle
                        stroke-dasharray: 470
                    &--ant circle
                        stroke-dasharray: 470
                    &--git circle
                        stroke-dasharray: 470
                    // frontend
                    &--js circle
                        stroke-dasharray: 470
                    &--react circle
                        stroke-dasharray: 470
                    &--webpack circle
                        stroke-dasharray: 470
                &__icon
                    margin-top: 6px
                    color: $clr-primary
                &__data-wrapper
                    margin-left: 4rem     
                &__heading
                    line-height: 1.2          
.services-section
    &__inner-wrapper
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 3rem
    .service-card
        &
            &
                background-color: $clr-bg-extra
                border-radius: 3rem
                border: 1px solid $clr-primary
                height: fit-content
            +hocus
                background-color: transparent
                border-color: $clr-primary-glassy
        &__heading-wrapper
            background-color: $clr-primary
            padding: 2rem
            border-radius: 5rem
            box-shadow: $shadow-dark-slight
        &__heading
            color: $clr-bg-basic
            font-size: 1rem
            text-align: center
    .service-desc-list
        padding: 2rem
    .service-desc-item
        &
            display: flex
            gap: 1rem
            margin-bottom: .8rem
            color: $clr-whitish
        &__icon
            color: $clr-primary
            margin-top: 2px
        &__desc
            font-size: .9rem
.portfolio-section
    .content-wrapper
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 2.5rem
    .content-item
        &
            &
                background-color: $clr-bg-extra
                padding: 1.3rem
                border: 1px solid transparent
                border-radius: 2rem
                transition: $transition-basic
            +hocus
                border-color: $clr-primary-glassy
                background-color: transparent
        &__img-wrapper
            border-radius: 1.5rem
            overflow: hidden
            height: 19rem
            object-position: top
            background-color: $clr-whitish
        &__heading
            margin: 1.2rem 0 2rem
        &__cta-wrapper
            display: flex
            gap: 1rem
            margin-bottom: 1rem
    &__toggler
        &
            margin-top: -2rem
            margin-bottom: 4rem
        &--secondary
            &
                margin-top: 2rem
            .toggler__item
                display: flex
                flex-direction: row
                justify-content: center
                align-content: center
                gap: 1rem
                width: max-content
            .toggler__item-icon
                width: 25px
                height: 25px
                color: $clr-primary
                position: relative
                top: .2rem
            &:hover
                &
                .toggler__item
                    &
                        margin: 0
                        transform: scale(1)
                .toggler__item-icon
                    color: $clr-bg-basic

.testimonials-section
    .contents-wrapper
        width: 40%
        padding-bottom: 4rem
    .review
        &
            background-color: $clr-bg-extra
            text-align: center
            padding: 2rem
            border-radius: 2rem
            user-select: none
        &__author-pic-wrapper
            width: 4rem
            aspect-ratio: 1/1
            overflow: hidden
            border-radius: 50%
            border-radius: 50%
            margin: 0 auto 1rem
            border: .4rem solid $clr-primary-glassy
        &__the-review
            color: $clr-whitish--glassy
            font-weight: 300
            display: block
            width: 80%
            margin: .8rem auto 0
    .swiper
        &-pagination
            &-bullet
                 background-color: $clr-primary
.contacts-section
    .contacts-content
        &.tank
            width: 58%
            display: grid
            grid-template-columns: 30% 58%
            gap: 12%
        &__contacts-list
            display: flex
            flex-direction: column
            gap: 1.2rem
        .contacts-item
            &
                &
                    background-color: $clr-bg-extra
                    padding: 1.2rem
                    border-radius: 1.2rem
                    gap: 1.2rem
                    text-align: center
                    border: 1px solid transparent
                +hocus
                    background-color: transparent
                    border-color: $clr-primary-glassy
            &__icon
                font-size: 1.5rem
                margin-bottom: .5rem
                color: $clr-whitish
            &__cta-btn
                margin-top: .7rem   
                display: inline-block
                font-size: .8rem
        .message-form
            &
                display: flex
                flex-direction: column
                gap: 1.2rem
            &__field
                width: 100%
                padding: 1.5rem
                border-radius: .5rem
                background-color: transparent
                border: 2px solid $clr-primary-glassy
                resize: none
                color: $clr-whitish
.footer
    &
        background-color: $clr-primary
        padding: 3rem 0
        text-align: center
        font-size: .9rem
        margin-top: 7rem
    &__logo
        font-size: 2rem
        font-weight: 500
        margin-bottom: 2rem
        display: inline-block
        color: $clr-bg-basic
    &__links-list
        display: flex
        flex-wrap: wrap
        justify-content: center
        gap: 1rem
        margin: 0 auto 3rem
    &__the-link
        &
            color: $clr-bg-basic
            background-color: transparent
            border-radius: .3rem
            padding: .3rem .6rem
            transform: scale(1)
            display: inline-block
        +hocus
            background-color: $clr-bg-basic
            transform: scale(1.1)
    &__socials-list
        display: flex
        justify-content: center
        gap: 1rem
        margin-bottom: 4rem
    &__socials-the-link
        &
            display: flex
            align-items: center
            justify-content: center
            background-color: transparent
            width: 1.9rem
            height: 1.9rem
            padding: .3rem
            margin-bottom: 2rem
            transform: scale(1)
            color: $clr-bg-basic
            border-radius: 5rem
            font-size: 1.5rem
            box-sizing: content-box
        +hocus
            transform: scale(1.5) rotate(-20deg)
            background-color: $clr-bg-basic
            color: $clr-whitish

/* ============================================================== RESPONSIVENESS ============================================================== */

/* =============================== Desktop-sm =============================== */
+media($bp-desktop-sm)
    .header__content
        align-items: center
    .header__pitch
        align-items: center
        text-align: center
    .header__name-block
        align-items: center
    .header__tagline
        align-items: center
    .photo-block
        display: none


/* =============================== Tablets =============================== */
+media($bp-tablet)
    /* ============== Overalls ============== */
    header
        height: 68vh
    /* ============== Specifics ============== */
    /* ======= Distinct ======= */

    /* ======= Relative ======= */
    .about-section
        &__contents-wrapper
            grid-template-columns: 1fr
            gap: 0
        &__img-outer-wrapper
            width: 50%
            margin: 2rem auto 4rem
        .text-content
            &__about-desc
                margin: 1rem 0 1.5rem
    .xp-section
        &
        &__contents-wrapper
            grid-template-columns: 1fr
        .xp-card
            &
                width: 80%
                padding: 2rem
                margin: 0 auto
            &__contents
                padding: 1rem
    .services-section
        &__inner-wrapper
            grid-template-columns: 1fr 1fr
            gap: 2rem
        .service-card
            height: auto
    .portfolio-section
        .content-wrapper
            grid-template-columns: 1fr 1fr
            gap: 1.2rem
        &__toggler
            &
                margin-top: 2rem
    .testimonials-section
        .contents-wrapper
            width: 60%
    .contacts-section
        .contacts-content
            &.tank
                grid-template-columns: 1fr
                gap: 2rem
/* =============================== Mobile =============================== */
+media($bp-mobile)
    /* ============== Overalls ============== */
    section > h2
        margin-bottom: 2rem
    header
        height: 100vh
    /* ============== Specifics ============== */
    /* ======= Distinct ======= */
    .scroll-down-btn
        display: none
    /* ======= Relative ======= */
    .header
        h1
            font-size: 2rem
        &__content
            max-width: 100%
        &__tagline
            p
                font-size: 1.1rem
        &__pitch
            padding: 0
        &__tank
            background-color: transparent
            background-image: none
        .cta-btns
            &
                gap: 2rem
                justify-content: center
            .btn-with-icon
                width: fit-content
                justify-content: center
                order: 3
        &__socials
            display: none
    .about-section
        &__img-outer-wrapper
            // width: 65%
            width: 100%
            margin: 0 auto 3rem
        .text-content
            &
                // text-align: center
            &__about-desc
                margin: 1.5rem 0
            &__cards
                grid-template-columns: 1fr 1fr
                gap: 1rem
            &__contact-cta
                margin: 0 auto
                display: block
    .xp-section
        &__contents-wrapper
            gap: 1rem
        .xp-card
            width: 100%
            padding: 2rem 1rem
    .services-section
        &__inner-wrapper
            grid-template-columns: 1fr
            gap: 1.5rem
    .portfolio-section
        .content-wrapper
            grid-template-columns: 1fr
            gap: 1rem
    .testimonials-section
        .contents-wrapper
            width: $w-sm-tank
        .review
            &__the-review
                width: $w-sm-tank
    .contacts-section
        .contacts-content
            &.tank        
                width: $w-sm-tank
    .footer
        &__links-list
            flex-direction: column
            gap: 1.5rem
        &__socials
            margin-bottom: 2.6rem
/* === */
