
/* ============================================================== FONTS ============================================================== */
/* =============================== 'Poppins' =============================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap')


/* ============================================================== VARS ============================================================== */
/* =============================== Colors =============================== */
$clr-blackish: rgb(0, 0, 0)
$clr-blackish--glassy: rgba($clr-blackish, .3)
$clr-whitish: rgb(255, 255, 255)
$clr-whitish--glassy: rgba($clr-whitish, .6)
$clr-whitish--glassier: rgba($clr-whitish, .1)

$clr-bg-basic: rgb(31, 31, 56)
$clr-bg-extra: rgb(44, 44, 108)

$clr-primary: rgb(77, 181, 255)
$clr-primary-glassy: rgba($clr-primary, .4)

$gradient-primary: linear-gradient($clr-primary, transparent)

/* =============================== Transitions =============================== */
$transition-basic: .4s ease all

/* =============================== Dimensions =============================== */
$w-lg-tank: 75%
$w-md-tank: 86%
$w-sm-tank: 90%

/* =============================== Breakpoints =============================== */
$bp-tablet: 1024px
$bp-mobile: 600px

/* =============================== Other =============================== */
$headings: h1, h2, h3, h4, h5, h6
$shadow-dark-slight: 0 2rem 1rem rgba(0, 0, 0, .1)

/* ============================================================== MIXINS ============================================================== */
/* =============================== Helpers =============================== */
=hocus 
    &:hover, &:focus 
        @content
=media($max-width)
    @media (max-width: $max-width)
        @content

/* =============================== Styling =============================== */
=tank_responsive_width()
    &
        width: $w-lg-tank
    +media($bp-tablet)
        width: $w-md-tank
    +media($bp-mobile)
        width: $w-sm-tank
=hocusClrSwitch($clr-unhocused, $clr-hocused)
    &
        color: $clr-unhocused
    +hocus
        color: $clr-hocused
=nonStaticHcentering($subtrahend)
    left: calc(50% - #{$subtrahend})
