
/* ============================================================== FONTS ============================================================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');


/* ============================================================== VARS ============================================================== */

/* =============================== Colors =============================== */
$clr-blackish: rgb(0, 0, 0);
$clr-whitish: rgb(255, 255, 255);
$clr-whitish--extra: rgba($clr-whitish, .6);

$clr-bg-basic: rgb(31, 31, 56);
$clr-bg-extra: rgb(44, 44, 108);

$clr-primary: rgb(77, 181, 255);
$clr-primary-extra: rgba($clr-primary, .4);

/* =============================== Transitions =============================== */
$transition-basic: .2s ease all;

/* =============================== Dimensions =============================== */
$w-lg-tank: 75%;
$w-md-tank: 86%;
$w-sm-tank: 90%;

/* =============================== Other =============================== */
$headings: h1, h2, h3, h4, h5, h6;

/* ============================================================== MIXINS ============================================================== */
@mixin tank_responsive_width() {
    & {
        width: $w-lg-tank;
    }
    @media (max-width: 1200px) {
        width: $w-md-tank;
    }
    @media (max-width: 400px) {
        width: $w-sm-tank;
    }
}